/* --------------------------------------
 * Utility Align
 *--------------------------------------- */

.u-alignBaseline {
  vertical-align: baseline;
  &-md {
    @include media-up(md) {
      vertical-align: baseline;
    }
  }
  &-sm {
    @include media-down(md) {
      vertical-align: baseline;
    }
  }
}

.u-alignTop {
  vertical-align: top;
  &-md {
    @include media-up(md) {
      vertical-align: top;
    }
  }
  &-sm {
    @include media-down(md) {
      vertical-align: top;
    }
  }
}

.u-alignMiddle {
  vertical-align: middle;
  &-md {
    @include media-up(md) {
      vertical-align: middle;
    }
  }
  &-sm {
    @include media-down(md) {
      vertical-align: middle;
    }
  }
}

.u-alignBottom {
  vertical-align: bottom;
  &-md {
    @include media-up(md) {
      vertical-align: bottom;
    }
  }
  &-sm {
    @include media-down(md) {
      vertical-align: bottom;
    }
  }
}

.u-alignTextBottom {
  vertical-align: text-bottom;
  &-md {
    @include media-up(md) {
      vertical-align: text-bottom;
    }
  }
  &-sm {
    @include media-down(md) {
      vertical-align: text-bottom;
    }
  }
}

.u-alignTextTop {
  vertical-align: text-top;
  &-md {
    @include media-up(md) {
      vertical-align: text-top;
    }
  }
  &-sm {
    @include media-down(md) {
      vertical-align: text-top;
    }
  }
}
