/* --------------------------------------
 * Utility Float
 * -------------------------------------- */

.u-floatLeft {
  float: left;
  &-md {
    @include media-up(md) {
      float: left;
    }
  }
  &-sm {
    @include media-down(md) {
      float: left;
    }
  }
}

.u-floatRight {
  float: right;
  &-md {
    @include media-up(md) {
      float: right;
    }
  }
  &-sm {
    @include media-down(md) {
      float: right;
    }
  }
}
