/* --------------------------------------
 * Utility Typography
 * -------------------------------------- */

// Text alignment

.u-textNoWrap {
  white-space: nowrap;
}

.u-textCenter {
  text-align: center;
  &-md {
    @include media-up(md) {
      text-align: center !important;
    }
  }
  &-sm {
    @include media-down(md) {
      text-align: center !important;
    }
  }
}

.u-textLeft {
  text-align: left;
  &-md {
    @include media-up(md) {
      text-align: left !important;
    }
  }
  &-sm {
    @include media-down(md) {
      text-align: left !important;
    }
  }
}

.u-textRight {
  text-align: right;
  &-md {
    @include media-up(md) {
      text-align: right !important;
    }
  }
  &-sm {
    @include media-down(md) {
      text-align: right !important;
    }
  }
}

// Font weight and italics

.u-fontWeightBold {
  font-weight: bold;
  &-md {
    @include media-up(md) {
      font-weight: bold !important;
    }
  }
  &-sm {
    @include media-down(md) {
      font-weight: bold !important;
    }
  }
}

.u-fontStyleItalic {
  font-style: italic;
  &-md {
    @include media-up(md) {
      font-style: italic !important;
    }
  }
  &-sm {
    @include media-down(md) {
      font-style: italic !important;
    }
  }
}

// Text sizing
.u-text-sm {
  @include media-down(md) {}

  @include media-up(md) {}
}

.u-text-md {
  @include media-down(md) {}

  @include media-up(md) {}
}
