// Media queries
@mixin media-up($breakpoint: md) {
  @media #{map-get($breakpoints-up, $breakpoint)} {
    @content;
  }
}

@mixin media-down($breakpoint: md) {
  @media #{map-get($breakpoints-down, $breakpoint)} {
    @content;
  }
}

// clearfix
@mixin clearfix() {
  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::after {
    clear: both;
  }
}

@mixin txt( $font-size, $line-height, $font-weight, $color){
  font-size: $font-size;
  line-height:  $line-height;
  font-weight: $font-weight;
  color: $color;
};
