html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 62.5%; // 10px
  @include media-down(md) {
    // font-size: 1.33333334vw; // 10px/768px*100%
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
.l-wrapper {
  width: 100%;
}
body {

}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  font-family: $FONT-BASE;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: $COLOR-BASE;
}
a:hover {
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  zoom: 1;
}

// IE10 over
@media all and (-ms-high-contrast: none) {
  body {
    font-family: $FONT-BASE-IE10-OVER;
  }
}
