/* --------------------------------------
===| Footer |===
--------------------------------------- */
.site-FooterWrapper {
  background: url(/assets/img/common/footer_bg.png) no-repeat center center;
  background-size: cover;
  margin-top: -3rem;
  margin-top: -2vw;
  min-height: 20vw;
  @include media-down(md) {
    background-position: 85% center;
    min-height: 35vw;
  }
}

// Components
// ==================================================
.site-FooterNavWrap {
  padding-top: 13.8rem;
  padding-top: 9.2vw;
  @include media-down(md) {
    padding-top: 13vw;
  }
}

.site-FooterNav {}

.site-FooterNav_Item {
  display: inline-block;
  &+& {
    margin-left: 3.6rem;
    @include media-down(md) {
      margin-left: 0.75rem;
    }
  }
  >a {
    font-size: 1.2rem;
    line-height: 1.75;
    color: inherit;
    text-decoration: none;
    display: block;
    @include media-down(md) {
      font-size: 1.1rem;
    }
  }
}

.site-FooterCopyright {
  padding-top: 8rem;
  padding-top: 5.3333333vw;
  &_Text {
    font-size: 1.1rem;
    line-height: 1.75;
    @include media-down(md) {
      font-size: 0.9rem;
    }
  }
}
